.main{
    width: 700px;
    height: 800px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    background-image: url(biodata.jpg);
    

}
.main h1{
    color: brown;
    margin-left: 10px;
    margin-top: 80px;
    
}
.box1{
    width: 320px;
    height: 350px;
    background-color: rgba(165, 42, 42, 0.597);
}
.box1 h3{
    color: aliceblue;
    margin-left: 10px;
}
.box1 h5{
    color: white;
    margin-left: 10px;
}