body {
    background-color: blueviolet;
    font-weight: bolder;
  }
  h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  h1:hover {
    color: rgb(246, 157, 23);
  }
  .base{
    width: 450px;
    height: 300px;
    background-color: rgba(94, 254, 62, 0.688);
  }
  .common:hover {
    width: 350px;
    height: 300px;
    background-color: chartreuse;
    transition: width 2s;
  }
  
  .common {
    width: 150px;
    height: 160px;
    text-align: center;
    background-color: #ccffcc;
    transition: width 2s, height 1s;
  }
  #translatex {
    background-color: rgba(156, 246, 11, 0.838);
  }
  
  #translate {
     transform: translate(80px, 50px);
  }
  #translate:hover {
    transform: translate(30px, 80px);
  }
  #translatex {
    transform: TranslateX(80px);
  }
  #translatey {
    transform: translatey(-50px);
  }
  #rotate {
    transform: rotate(50deg);
  }
  #rotate:hover {
    transform: rotate(90deg);
  }
  #skew {
    transform: skew(-35deg, 25deg);
  }
  #skewx {
    transform: skewx(35deg);
  }
  #skewy {
    transform: skewy(25deg);
  }
  #scale {
    transform: scale(1, 0.9);
  }
  #matrix {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
  #translate3d {
    transform: translate3d(30px, 35px, 50px);
  }
  #roate3d {
    transform: rotate3d(20, 30, 40, 30deg);
  }
  #scale3d {
    transform: scale3d(1.3, 1.2, 0.4);
  }
  h1 {
    text-decoration: underline;
  }
  .nav1 {
    display: flex;
    justify-content: space-between;
  } 