.main{
    background-color:white;
    margin: 0;
    padding: 0;
    /* text-align: center; */
}
.main1{
    width: 1050px;
    height: 60px;
    background-color: rgb(234, 51, 51);
    margin-top: 80px;
    
}
img{
    width: 50px;
    height: 50px;
    
}
.main1 ul li{
        display: inline;
        float: right;
        width: 80px;
        height: 25px;
        list-style: none;
        background-color: #222841;
        position: relative;
        /* bottom: -3px; */
        margin-left: 5px;
        /* color:rgb(200, 4, 4); */
        text-align: center;
        border-radius: 10px;
        padding-top: 5px;
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 100px;
        margin-top: -25px;
        /* text-decoration: none; */
}
ul li{
    text-decoration: none;
    color: white;
    

   
    
}