.main{
    background-color: white;
}
.main1{
    width: 650px;
    height: 230px;
    background-color: rgb(54, 52, 52);
    margin: 0 auto;
    /* margin-top: 3px; */
    border-radius: 5px;
    
}
.h1{
    /* margin-bottom: 50px; */
    color: rgb(103, 164, 12);
    text-align: center;
    /* margin-top: 100px; */
    font-size: 55px;
    padding-top: 70px;

    
}
.h1:hover{
    color: brown;
}
.h4{
    margin-top:-43px;
    color: green;
    text-align: center;
}
.h4:hover{
    color: rgba(186, 228, 19, 0.903);
}
.main2{
    width: 650px;
    height: 50px;
    background-color: rgb(63, 204, 63);
    margin: 0 auto;
    border-radius: 5px;
    /* text-decoration: none; */
}
.main2 ul{
    /* text-decoration: none; */
    padding: 0%;
  }
.main2 ul li{
        display: inline;
        float: left;
        width: 100px;
        height: 25px;
        list-style: none;
        /* background-color: #222841; */
        position: relative;
        bottom: -10px;
        margin-right: 5px;
        color:white;
        text-align: center;
        /* border-radius: 10px; */
        padding-top: 5px;
        font-family:Arial, Helvetica, sans-serif;
        /* text-decoration: none; */
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: rgba(165, 42, 42, 0.771);
    /* background-color: rgba(251, 251, 13, 0.649); */
}
.img img{
    width: 650px;
    height: 180px;
    margin-top: 40px;
    border-radius: 5px;

}
.firstbox{
    width: 370px;
    height: 400px;
    background-color: white;
    float: right;
    /* text-align: center; */

}
.firstbox h1{
    color:rgb(63, 204, 63);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-style: initial; */
    /* margin-right: 3px; */
}
.firstbox h6{
    color:  rgb(70, 68, 68);;
}
.secondbox{
    width: 260px;
}
.secondbox h3{
    color: rgb(63, 204, 63);
}
.secondbox h6{
    color: rgb(70, 68, 68);
}
.my a{
    color: rgba(245, 87, 9, 0.971);
    text-decoration: none;
}
.my a:hover{
  color: green; 
  text-decoration: none; 
  background-color: aqua;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}